body {
    background-color: lightgray;
    text-align: center;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
}

a {
    color: rgb(247, 255, 11);
    text-decoration: none;
}

a:hover {
    color: brown;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

figure img {
    width: 80%;
}

figure {
    text-align: center;
    font-style: italic;
}

main p {
    text-align: left;
    display: block;
}