body {
    background-color: rgb(227, 224, 224);
    text-align: center;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
}

a {
    color: magenta;
    text-decoration: none;
}

a:hover {
    color: brown;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

figure img {
    width: 80%;
}

figure {
    text-align: center;
    font-style: italic;
}

main p {
    text-align: left;
    display: block;
}