<nav>
    <a href="https://webpages.charlotte.edu/jvidal2/">CLT Site</a> 🂲
    <a href="https://github.com/jvidal2">GitHub</a> 🂲
    <a href="https://jvidal2.github.io/itis3135/">GitHub.io</a> 🂲
    <a href="https://www.freecodecamp.org/jvidal2">freeCodeCamp</a> 🂲
    <a href="https://www.codecademy.com/profiles/jvidal2">Codecademy</a> 🂲
    <a href="https://www.linkedin.com/in/jazmin-vidal/">LinkedIn</a>
</nav>
<p>Designed by <a href="jzvcreations.com/index.html" target="_blank">JZV Creations</a>&copy 2024, <i><a href="https://www.freecodecamp.org/certification/jvidal2/responsive-web-design" target="_blank">Certified in Responsive Web Design</a></i>, <i><a href="https://www.freecodecamp.org/certification/jvidal2/responsive-web-design" target="_blank">Certified in JS</a></i></p>
<a href="https://validator.w3.org/check?uri=https://jvidal2.github.io/itis3135/" id="validation-link-html">
    <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/https://jvidal2.github.io/itis3135/" id="validation-link-css">
    <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
</a>