<h1>Jazmin Vidal's Jaded Vulture 🂲 ITIS3135</h1>
            <nav>
                <a href="./">Home</a> 🂲
                <a href="introduction.html">Introduction</a> 🂲
                <a href="contract.html">Contract</a> 🂲
                <a href="about.html">About</a> 🂲
                <a href="website_evaluations.html">Website Evaluations</a> 🂲
                <a href="tables.html">Tables</a> 🂲
                <a href="forms.html">Forms</a> 🂲
                <a href="project_overview.html">Project Overview</a> 🂲
                <a href="firstscripts.html">First Scripts</a>
            </nav>
            <nav>
                <a href="stuff/cRaPpY.htm">Crappy Webpage</a> 🂲
                <a href="hobby/index.html" target="_blank">Hobby Page</a>
            </nav>
            <p><i>Figures as fierce as the vulture's gaze.</i></p>